
<div class="grid-container">

    <!--developer box-->


    <div class="box dev">
        <div class="developer-profile">
            <div class="dev-icon">
                <div class="icons icons-config"><i class="bi bi-person-fill"></i><i class="bi bi-code-slash"></i></div>

            </div>
            <div class="dev-info">
                <h2>yassirdev@gmail.com</h2>

            </div>
            <div class="dev-buttons">
                <div class="buttons"><button class="tickets-counter">23 ticket assigne</button></div>


            </div>

        </div>
    </div>
     <!--end of developer box-->



    <div class="box">
        <div class="box dev">
            <div class="store-profile">
                <div class="store-icon">
                    <div class="icons icons-config"><i class="bi bi-shop-window"></i></div>
    
                </div>
                <div class="store-info">
                    <h2>PFEstore</h2>
    
                </div>
                <div class="cle-support-div">
                    <div class="cle-button"><input readonly value="343" [type]="showKey? 'text' : 'password'" > <button (click)="toggleAPI_KEY()"><i *ngIf="!showKey" class="bi bi-eye-fill"></i><i *ngIf="showKey" class="bi bi-eye-slash-fill"></i></button><button><i class="bi bi-arrow-clockwise"></i></button></div>


                </div>
                <div class="store-buttons">
                    <div class="buttons"><button class=""><i class="bi bi-box-arrow-up-right"></i></button><button class=""><i class="bi bi-pencil-square"></i></button></div>

    
    
                </div>
    
            </div>
        </div>

    </div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>

    <div class="box"></div>
    <div class="box"></div>
    <div class="box add"><span><i class="bi bi-plus-square-dotted"></i></span></div>
    
   
</div>
 