<div class="Lists">

    <div class="list">
        <div class="ticket-icon">
            <i class="bi bi-ticket-fill"></i>

        </div>
        <div class="ticket-info">


            <div class="createdby">
                <i class="bi bi-person-fill"></i>
                <span>yassi@gjh.com</span>


            </div>

            <div class="store-info">
                <i class="bi bi-shop-window"></i>
                <span>yassi@gjh.com</span>


            </div>
            <div class="ticket-status">
                <i class="bi bi-shop-window"></i>
                <span>yassi@gjh.com</span>


            </div>

        </div>

    </div>
    <div class="list">

    </div>
    <div class="list">

    </div>

</div>